ion-button{
    --background: #ffffff !important;
    color: #f2007a;
    margin-top: 20%;
}

ion-content{
    --background: rgb(37,16,62);
    --background: linear-gradient(0deg, rgba(37,16,62,1) 0%, rgba(160,23,83,1) 35%, rgba(221,27,92,1) 100%);
    
}

form{
    padding-left: 10%;
    padding-right: 10%;
}
#logo {
    margin: auto;
    display: block;
    padding-top: 10mm;
    width: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #cadastro {
    text-align: center;
    color: #fdfbfc;
  }
  .erros{
    color: #f496be;
}

  a:link, a:visited {
    
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  ion-item {
    margin: auto;
    display: block;
    --background: rgba(76, 175, 80, 0.0);
    --border-color: #fff;
    padding-right: 15px;
    
    
  
    ion-label {
      --color: #fff;
      --background: rgba(76, 175, 80, 0.0);
      font-family: "Open Sans";
      font-size: 15px;
    }
    ion-input{
      --background: rgba(76, 175, 80, 0.0);
        --color: #fff;
    }
  }